/*GENERAL*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS */

html, body
{
	width:100%;
	height:100%;
<<<<<<< HEAD
=======
    font-family: "Myriad Pro",Arial,sans-serif ;
    background-color:#4393c6;
	color:white;
>>>>>>> f217079b4b1a2d7a36dd73d24f66bf68262608d6
}

body{ 
    font-family: "Myriad Pro", Arial, sans-serif ;
    background-color: #4393c6;
	color: white;
    padding-top: 2%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

section{
    display: none;
    width: 90%;
    height: 100%;
    margin: auto;
}

section.choose>.consigne{
    display: block;
    width:100%;
    height:15%;
    font-size:1em;
    text-align:center;
}

section.choose>ul{
    width:100%;
    height:70%;
}


section.choose li{
    width: 100%;
    opacity: 1;
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

section.choose button {
    display: block;
    width:100%;
    height:10%;
    margin: 0 auto;
    background: yellow;
    border: 1px solid #B7B7B7;
    border-radius: 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}


section.instrument img{
    position: absolute;
    max-width: 80%;
    left: 10%;
}



/* GENERAL CLASS */

section.choose li.noDisplay{
    opacity: 0;
    display: none;
    
}

.animated{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:.4s;
    -moz-animation-duration:.4s;
    -ms-animation-duration:.4s;
    -o-animation-duration:.4s;
    animation-duration:.4s;
}


@-webkit-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }   100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    -moz-animation-name: slideInLeft;
    -o-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    -o-animation-name: slideInRight;
    animation-name: slideInRight;
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    
    100% {
        opacity: 0;
        display: none;
        transform: translateX(-2000px);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    -moz-animation-name: slideOutLeft;
    -o-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    -moz-animation-name: slideOutRight;
    -o-animation-name: slideOutRight;
    animation-name: slideOutRight;
}